<a href="https://colab.research.google.com/github/athulsunny/Pre_Placement_Training_Program/blob/main/Assignment_9_Recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1

Given an integer `n`, return *`true` if it is a power of two. Otherwise, return `false`*.
An integer `n` is a power of two, if there exists an integer `x` such that `n == 2x`.

In [2]:
def Power(n):
    if n <= 0:
        return False
    return n & (n - 1) == 0

In [9]:
print(Power(32))

True

Question 2

Given a number n, find the sum of the first natural numbers.

In [13]:
def sumofn(n):
    return (n * (n + 1)) // 2

In [15]:
print(f"sum of first 10 natural numbers is {sumofn(10)}")
print(f"sum of first 4 natural numbers is {sumofn(4)}")

sum of first 10 natural numbers is 55
sum of first 4 natural numbers is 10

Question 3

Given a positive integer, N. Find the factorial of N.

In [17]:
def factorial(N):
    result = 1
    for i in range(1, N + 1):
        result *= i
    return result

In [19]:
print(factorial(8))  
print(factorial(3))

40320
6

Question 4

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

In [21]:
def exponentiation(N, P):
    result = N ** P
    return result

In [23]:
print(exponentiation(6, 2)) 
print(exponentiation(2, 3))

36
8

Question 5

Given an array of integersÂ **arr**, the task is to find maximum element of that array using recursion.

In [24]:
def findMax(arr, n):
    if n == 1:
        return arr[0]
    
    max_val = findMax(arr, n - 1)
    
    if arr[n - 1] > max_val:
        return arr[n - 1]
    else:
        return max_val

In [25]:
arr1 = [1, 2, 3, -6, -4, 13, 5]
print(findMax(arr1, len(arr1)))  

arr2 = [1, 4, 32, 8, 12, -6]
print(findMax(arr2, len(arr2)))

13
32

Question 6

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

In [26]:
def findNthTerm(a, d, N):
    nth_term = a + (N - 1) * d
    return nth_term

In [27]:
print(findNthTerm(3, 1, 4))   
print(findNthTerm(6, 3, 9))

6
30

Question 7

Given a string S, the task is to write a program to print all permutations of a given string.

In [30]:
def permutations(S, l, r):
    if l == r:
        print("".join(S))
    else:
        for i in range(l, r + 1):
            S[l], S[i] = S[i], S[l]
            permutations(S, l + 1, r)
            S[l], S[i] = S[i], S[l]  

def printPermutations(string):
    n = len(string)
    S = list(string)
    permutations(S, 0, n - 1)

In [33]:
printPermutations("EYE")
print("___")
printPermutations("WE")

EYE
EEY
YEE
YEE
EYE
EEY
___
WE
EW

*Question 8

Given an array, find a product of all array elements.

In [34]:
def arrayproduct(arr):
    product = 1
    for num in arr:
        product *= num
    return product

In [37]:
arr1 = [2, 4, 6, 8, 10]
print(arrayproduct(arr1)) 

arr2 = [3, 6, 1]
print(arrayproduct(arr2))

3840
18